In [18]:
#다중 for loop의 예제 : 구구단
for i in range(2, 10, 2) :
    print('       %d단            %d단    '% (i,  i+1))
    for j in range(1, 10) :
        print('{0:3d} * {1:2d} = {2:2d}    {3:2d} * {4:2d} = {5:2d}   '.format(i, j, i+j, i, j, (i+1)*j))
    print('')

       2단            3단
  2 *  1 =  3     2 *  1 =  3
  2 *  2 =  4     2 *  2 =  6
  2 *  3 =  5     2 *  3 =  9
  2 *  4 =  6     2 *  4 = 12
  2 *  5 =  7     2 *  5 = 15
  2 *  6 =  8     2 *  6 = 18
  2 *  7 =  9     2 *  7 = 21
  2 *  8 = 10     2 *  8 = 24
  2 *  9 = 11     2 *  9 = 27

       4단            5단
  4 *  1 =  5     4 *  1 =  5
  4 *  2 =  6     4 *  2 = 10
  4 *  3 =  7     4 *  3 = 15
  4 *  4 =  8     4 *  4 = 20
  4 *  5 =  9     4 *  5 = 25
  4 *  6 = 10     4 *  6 = 30
  4 *  7 = 11     4 *  7 = 35
  4 *  8 = 12     4 *  8 = 40
  4 *  9 = 13     4 *  9 = 45

       6단            7단
  6 *  1 =  7     6 *  1 =  7
  6 *  2 =  8     6 *  2 = 14
  6 *  3 =  9     6 *  3 = 21
  6 *  4 = 10     6 *  4 = 28
  6 *  5 = 11     6 *  5 = 35
  6 *  6 = 12     6 *  6 = 42
  6 *  7 = 13     6 *  7 = 49
  6 *  8 = 14     6 *  8 = 56
  6 *  9 = 15     6 *  9 = 63

       8단            9단
  8 *  1 =  9     8 *  1 =  9
  8 *  2 = 10     8 *  2 = 18
  8 *  3 = 11     8 *  3 = 27
  8 *  4 = 12     8 *  4 = 36
  8 *  5 = 13     8 *  5 = 45
  8 *  6 = 14     8 *  6 = 54
  8 *  7 = 15     8 *  7 = 63
  8 *  8 = 16     8 *  8 = 72
  8 *  9 = 17     8 *  9 = 81

In [20]:
# 리스트의 생성 1. [] 사용

lst_a = [1,2,3]
print(lst_a)
type(lst_a)

[1, 2, 3]

list

In [23]:
# 리스트의 생성 2. list()

lst_a = list(range(1,4))
print(lst_a)
type(lst_a)

[1, 2, 3]

list

In [24]:
person = ['홍길동', 19, 181.5, True]
print(person)

['홍길동', 19, 181.5, True]

In [26]:
lst_a = [];type(lst_a)
print(lst_a)

[]

In [34]:
print(person[0:2])   # 0번 index 부터 2번-1=1번 까지 ==> 슬라이싱
print(person[:3])
print(person[1:])

['홍길동', 19]
['홍길동', 19, 181.5]
[19, 181.5, True]

In [35]:
lst_a = []
print(lst_a)

[]

In [40]:
lst_a.append('한국아이티')
lst_a.pop()
print(lst_a)

['한국아이티', '한국아이티']

In [41]:
lst_a.append('가나다')
lst_a.append('korea')

In [42]:
lst_a.sort()
print(lst_a)

['korea', '가나다', '한국아이티', '한국아이티']

In [44]:
lst_a[1]='ABC'
print(lst_a)

['korea', 'ABC', '한국아이티', '한국아이티']

In [45]:
# 튜플생성
t1 = ('이름','학번','학과','주소')
print(t1)

('이름', '학번', '학과', '주소')

In [51]:
lst1 = list(t1)
print(lst1)

['이름', '학번', '학과', '주소']

In [52]:
lst1.append('전화번호')
print(lst1)

['이름', '학번', '학과', '주소', '전화번호']

In [54]:
t1 = tuple(lst1)

In [55]:
print(t1)

('이름', '학번', '학과', '주소', '전화번호')

In [58]:
type(lst1)

list

In [48]:
t1[-1]="전화번호"     # 튜플은 값을 수정할 수 없다

TypeError: 'tuple' object does not support item assignment

In [49]:
t1[4]='전화번호'      # 튜플은 값이 추가되지 않는다

TypeError: 'tuple' object does not support item assignment

In [50]:
myTuple=(1,2,3)
myList=list(myTuple)
myList.append(4)
myTuple=tuple(myList)
print(myTuple)

(1, 2, 3, 4)

In [61]:
# 딕셔너리의 생성과 활용

dic1 = {'name':'홍길동', 'phone':'010-1234-5678', 'addr':'청주시 상당구'}
print(dic1)

{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [78]:
dic1.pop('name')
print(dic1)

{'addr': '청주시 흥덕구'}

In [64]:
print(dic1['name'])         # key 값을 이용해서 data값에 접근
print(dic1.get('name'))     # key 값을 이용해서 data값에 접근

홍길동
홍길동

In [76]:
print(dic1.keys())
print(dic1.values())

print(dic1.items())


print('name' in dic1)

dic1['name']='춘향'
dic1['addr']='청주시 흥덕구'
print(dic1)

dict_keys(['name'])
dict_values(['춘향'])
dict_items([('name', '춘향')])
True
{'name': '춘향', 'addr': '청주시 흥덕구'}

In [79]:
s1 = set('hellolllllllllllllllllll')
print(s1)

{'o', 'l', 'e', 'h'}

In [91]:
# 집합 연산

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1 & s2) #s1.intersection(s2) 교집합
print(s1 | s2) #s1.union(s2)    합집합
print(s1 - s2) #s1.difference(s2)   차집합

print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [93]:
s3={1,2,3}
type(s3)

set

In [96]:
s3.add(4):    #집합.add() : 집합에 새로운 값 추가.
#집합.update() : 집합에 여러 개의 값을 한꺼번에 추가
#집합.remove() : 집합에서 특정 값을 제거

SyntaxError: invalid syntax (<ipython-input-96-eff00e97caf4>, line 1)